<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="dbconn" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <!--jta-data-source>notario</jta-data-source-->
    <class>Entities.AccountAddress</class>
    <class>Entities.Accounts</class>
    <class>Entities.Payments</class>
    <class>Entities.ProductType</class>
    <class>Entities.Users</class>
    <class>Entities.Clients</class>
    <class>Entities.ClientsSharing</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <!--property name="hibernate.hbm2ddl.auto" value="create-drop" />
            <property name="hibernate.show_sql" value="false" /-->
            
            <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://notario.db.9606288.hostedresource.com:3306/notario?zeroDateTimeBehavior=convertToNull"/>
      <property name="hibernate.connection.username" value="notario"/>
      <property name="hibernate.connection.password" value="zxc123ZXC"/>
    </properties>
  </persistence-unit>
</persistence>
